{% extends 'core/base.html' %}
{% load static %}
{% block content %} 
<div class="col-sm-12">
 <div class="text-center">
  <img src="{% static 'core/images/mypic.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div>
 <div class="mt-5 text-white mx-5 text-justify">
     <h3> <b class="text-white"> About Me </b> </h3>
  <div class="px-4" style="line-height:2rem;">
   <p style="text-indent:100px;"> My name is <b class="text-warning"> Md Moinuddin. </b>  basically i am from Bihar but i did own Graduation in <b class="text-warning"> B.TECH </b> with a stream of <b class="text-warning"> Computer Science and Engineering </b>from Punjab Technical University jalandhar Punjab in the year 2021 with <b class="text-warning"> 7.60 CGPA </b> </p>
           <p> I always try to learn something new which is trending in computer related field , and this is my also one of the best hobbies.</p>
  </div>
 </div>
     <div class="mt-5 text-white mx-5 text-justify">
     <h3> <b class="text-white"> Career Objective </b> </h3>
  <div class="px-4" style="line-height:2rem;">
   <p style="text-indent:100px;"> To be associated with a progressive organization, where I can employ <b class="text-warning">Data Science,
       Data Analysis </b> and <b class="text-warning">Business Analysis </b>knowledge and skill to contribute the growth of the organisation and personal growth in an effectual manner.</p>
  </div>
 </div>
 <div class="mt-5 text-white mx-5 text-justify">
     <h3> <b class="text-white"> About My Family </b> </h3>
  <div class="px-4" style="line-height:2rem;">
   <p style="text-indent:100px;"> We are 8 in my family . &nbsp;My father is a farmer and my mother is a house wife.&nbsp; I have 5 sibblings.</p>
  </div>
 </div>
 <div class="mt-5 text-white mx-5 text-justify">
     <h3> <b class="text-white"> My Hobbies </b> </h3>
  <div class="col-sm-12 px-4" style="line-height:2rem;">
     <h4> 1. Indoor game :-</h4>
                                    <h5> (a) Chess </h5>
                                    <h5> (a) Ludo </h5>
  </div>
  <div class="px-4" style="line-height:2rem;">
     <h4> 2. Outdoor game :-</h4>
                                    <h5> (a) cricket</h5>
                                    <h5> (b) kabbaddi </h5>
  </div>
 </div>
 <div class="mt-5 text-white mx-5 text-justify"><div class="px-4">
     <h4> 3. When i want to be refresh  :-</h4>
                                    <h5>  Go out side, where no one are present and sit there and think about own past and take breath deeply. </h5>
 </div>
 </div>
  <div class="mt-5 text-white mx-5 text-justify">
      <div class="px-4" style="line-height:2rem;">
          <h4> 4. When i have a lot of time to spend beside job like sunday :-</h4>
                                 <h5> Talk to some close friend , Watch movie and goes some beautyfull place to walk.</h5>
      </div>
  </div>
{% endblock content %}