{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
 <div class="text-center">
  <img style="height:340px;width:310px;" src="{% static 'core/images/mypic.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:310px;" src="{% static 'core/images/img38.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img1.jpeg' %}"  class="img-thumbnail" width="210px" height="100px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img8.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img22.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img13.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img5.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img8.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" style="height:340px;width:290px;" src="{% static 'core/images/img.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img3.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img6.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:310px;" src="{% static 'core/images/img2.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:290px;" src="{% static 'core/images/img 2.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" style="height:340px;width:290px;" src="{% static 'core/images/img11.jpeg' %}"  class="img-thumbnail" width="210px" height="100px">
   <img style="height:340px;width:300px;" src="{% static 'core/images/img12.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img14.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img15.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:300px;" src="{% static 'core/images/img16.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img17.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:290px;" src="{% static 'core/images/img18.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img19.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img20.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img21.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img23.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img24.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img25.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img26.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img27.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img28.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img29.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:310px;" src="{% static 'core/images/img30.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:310px;" src="{% static 'core/images/img31.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img32.jpeg' %}"  class="img-thumbnail" width="210px" height="100px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img33.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img34.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img35.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img36.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img37.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="200px" height="250px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/img39.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:260px;" src="{% static 'core/images/img40.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
    <img style="height:340px;width:310px;" src="{% static 'core/images/img0.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/emoji.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div>
</div>
<div class="text-center">
  <a href="#" target="_blank"><i class="fab fa-twitter i-color mr-3"></i></a>
  <a href="#" target="_blank"><i class="fab fa-facebook-f i-color mr-3"></i></a>
  <a href="#" target="_blank"><i class="fab fa-instagram i-color mr-3"></i></a>
  <a href="#" target="_blank"><i class="fab fa-dribbble i-color"></i></a>
</div>
{% endblock content %}