{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
 <div class="text-center">
  <img src="{% static 'core/images/mypic.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img src="{% static 'core/images/img(37).jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/img(6).jpg' %}"  class="img-thumbnail" width="210px" height="100px">
   <img src="{% static 'core/images/img(26).jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/img(34).jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/img(11).jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/img(15).jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/img(39).jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/img(38).jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/img(35).jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/mypic.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/mypic.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img src="{% static 'core/images/mypic.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div>
</div>
<div class="text-center">
  <a href="#" target="_blank"><i class="fab fa-twitter i-color mr-3"></i></a>
  <a href="#" target="_blank"><i class="fab fa-facebook-f i-color mr-3"></i></a>
  <a href="#" target="_blank"><i class="fab fa-instagram i-color mr-3"></i></a>
  <a href="#" target="_blank"><i class="fab fa-dribbble i-color"></i></a>
</div>
{% endblock content %}