{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
 <div class="text-center">
  <img style="height:340px;width:310px;" src="{% static 'core/images/status/mypic.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:310px;" src="{% static 'core/images/status/img38.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img1.jpeg' %}"  class="img-thumbnail" width="210px" height="100px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img8.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img22.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img13.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img5.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img8.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" style="height:340px;width:290px;" src="{% static 'core/images/status/img.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img3.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img6.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:310px;" src="{% static 'core/images/status/img2.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:290px;" src="{% static 'core/images/status/img 2.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" style="height:340px;width:290px;" src="{% static 'core/images/status/img11.jpeg' %}"  class="img-thumbnail" width="210px" height="100px">
   <img style="height:340px;width:300px;" src="{% static 'core/images/status/img12.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img14.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img15.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:300px;" src="{% static 'core/images/status/img16.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:290px;" src="{% static 'core/images/status/img18.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img19.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img20.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img21.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img23.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img24.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img25.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img26.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img27.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img28.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img29.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:310px;" src="{% static 'core/images/status/img30.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
     <img style="height:340px;width:310px;" src="{% static 'core/images/status/img31.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img32.jpeg' %}"  class="img-thumbnail" width="210px" height="100px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img33.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img34.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img35.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img36.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img37.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="200px" height="250px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img39.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
   <img style="height:340px;width:310px;" src="{% static 'core/images/status/img40.jpeg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div>
</div>
{% endblock content %}