{% extends 'core/base.html' %}
{% block content %}
<br class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom"> Educational Qualification </h1>
 <div>
     <h2 style=" color:white;"> 1. <u> B.tech (computer science and engineering ) </u> :- </h2>
<h3 style=" color:white;margin-left:100px;"> > Institute :- Adesh Institute Of Technology Gharuan Mohali, Punjab </br>  > University :- Punjab Technichal University Jalandhar, Punjab </br>  > session :- 2017-2021 </h3>
<table style="font-size:28px; color:white; border-collapse: separated; border-spacing: 25px 30px; border: 8px; margin-left:100px;">
   <th style=" border: 2px solid white;"> 1st sem.</th>
    <th style=" border: 2px solid white;"> 2nd sem.</th>
    <th style=" border: 2px solid white;"> 3rd sem.</th>
    <th style=" border: 2px solid white;"> 4th sem.</th>
    <th style=" border: 2px solid white;"> 5th sem.</th>
    <th style=" border: 2px solid white;"> 6th sem.</th>
    <th style=" border: 2px solid white;"> 7th sem.</th>
    <th style=" border: 2px solid white;"> 8th sem.</th>
 <tr>
    <td style=" border: 2px solid white;"> 7.46 </td>
    <td style=" border: 2px solid white;"> 6.93 </td>
    <td style=" border: 2px solid white;"> 7.58 </td>
    <td style=" border: 2px solid white;"> 7.76 </td>
    <td style=" border: 2px solid white;"> 6.80 </td>
    <td style=" border: 2px solid white;"> 7.76 </td>
    <td style=" border: 2px solid white;"> # </td>
    <td style=" border: 2px solid white;"> #</td>
</tr>

</table>
</div>
</br> </br>
<div>
    <h2 style=" color:white;"> 2. <u>12th (from science stream) </u> :- </h2>
<h3 style=" color:white; margin-left:230px;"> > Board :- BSEB (Bihar board Patna) </br> > pass out in :- 2017 </br> >  Marks :- 312 out of 500 </br> > Percentage :- 62.4</h3>
</div></br> </br>
<div>
    <h2 style=" color:white;">3. <u> 10th (Matriculation) </u> :- </h2>
<h3 style=" color:white; margin-left:230px;"> > Board :- BSEB (Bihar board Patna) </br> > pass out in :- 2015 </br> > Marks :- 350 out of 500 </br> > Percentage :- 70 </h3>
</div>
<div class="text-center">
  <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
  <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
 </div>
</div>

{% endblock content %}