{% load static %}
{% block corecss %}
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

</style>
{% endblock corecss %}
<div class=" w3-margin-top  mr-5" style="max-width:1400px;">
    <div class="w3-row-padding">
    <div class="w3-third">
          <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="{% static 'core/images/mypic.jpg' %}" style="width:100%" alt="ProfilePic" class="img-fluid rounded-circle mt-5">
                    <div style="font-size:30px; color:white;" class="w3-display-bottomleft w3-container text-center">
                        <h5>MD MOINUDDIN (Arman)</h5>
                    </div>
                </div>
          </div>
    </div>
     <div style="color:white;" class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-small"></i>Software Developer/Data Scientist/Data Analyst/ Tableau,PowerBi and Sql developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Bihar, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>mdm147278@mail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>6201127940</p>
     </div>
 </div>
 <hr class="border-light">

<!--  <nav style="color:white;"  class="nav flex-column text-center">-->
<!--     <a href="{% url 'home' %}" class="nav-link {{home}}">Introduction</a>-->
<!--     <a href="{% url 'status' %}" class="nav-link {{project}}"> Some Images </a>-->
<!--     <a href="{% url 'project' %}" class="nav-link {{status}}"> My Project </a>-->
<!--     <a href="{% url 'services' %}" class="nav-link {{services}}">Services</a>-->
<!--     <a href="{% url 'qualification' %}" class="nav-link {{qualification}}"> Educational Details </a>-->
<!--     <a href="{% url 'skill' %}" class="nav-link {{skill}}"> Technical Skill</a>-->
<!--     <a href="{% url 'academic' %}" class="nav-link {{academic}}"> Academic Interest</a>-->
<!--     <a href="{% url 'office' %}" class="nav-link {{office}}"> Office Skill</a>-->
<!--     <a href="{% url 'softskill' %}" class="nav-link {{softskill}}"> Soft Skill</a>-->
<!--     <a href="{% url 'language' %}" class="nav-link {{language}}"> Languages </a>-->
<!--     <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>-->

<!-- </nav>-->
    ––>
</div>