{% load static %}
<div class="border-right border-warning h-100">
 <div class="text-center">
  <img src="{% static 'core/images/mypic.jpg' %}" alt="ProfilePic" class="img-fluid rounded-circle mt-5" width="100px" heght="100px">
  <h3 class="text-white mt-3 st-font"> Md Moinuddin </h3>
 </div>
 <hr class="border-light">
 <nav class="nav flex-column text-center">
     <a href="{% url 'home' %}" class="nav-link {{home}}">Introduction</a>
     <a href="{% url 'status' %}" class="nav-link {{status}}"> Some Remembering Things </a>
     <a href="{% url 'qualification' %}" class="nav-link {{qualification}}"> Educational Details </a>
     <a href="{% url 'skill' %}" class="nav-link {{skill}}"> Technical Skill</a>
     <a href="{% url 'academic' %}" class="nav-link {{academic}}"> Academic Interest</a>
     <a href="{% url 'office' %}" class="nav-link {{office}}"> Office Skill</a>
     <a href="{% url 'softskill' %}" class="nav-link {{softskill}}"> Soft Skill</a>
     <a href="{% url 'project' %}" class="nav-link {{project}}"> My Projects </a>
     <a href="{% url 'language' %}" class="nav-link {{language}}"> Languages </a>
     <a href="{% url 'services' %}" class="nav-link {{services}}">Services</a>
     <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
 </nav>
</div>