{% extends 'core/base.html' %}
{% block content %} 
<div class="container mt-5">
 <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

 <div class="row text-center text-white mb-5">
  <div class="col-sm-4">
   <i class="fas fa-file fa-2x mb-3 i-color"></i>
   <h3>Data science</h3>
   <p class="ss-color">Python , sql, MySql, Tableau, PowerBi, R, Ms Excel, Ms Access, Data Studio, Google sheet, Machine learning , Data Mining, web scrapping etc</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-database fa-2x mb-3 i-color"></i>
   <h3>DATA ANALYST</h3>
   <p class="ss-color">Python , sql, MySql, Tableau, PowerBi, R, Ms Excel, Ms Access, Data Studio, Google sheet, Machine learning , Data Mining, web scrapping etc</p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-chart-line fa-2x mb-3 i-color"></i>
   <h3>Power Bi Developer</h3>
   <p class="ss-color">converting business and client reporting requirements into user friendly,storytelling reports & dashboards,Connecting to
    SharePoint and other data sources. </p>
  </div>
  <div class="col-sm-4">
   <i class="far fa-chart-bar fa-2x mb-3 i-color"></i>
   <h3>Tableau developer</h3>
   <p class="ss-color">Literacy in data analytics, Querying data with ANSI SQL, Tableau Desktop,Literacy in data visualization etc </p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-server fa-2x mb-3 i-color"></i>
   <h3>Database Programmer</h3>
   <p class="ss-color">Ability to perform Data Modelling,database programming language, preferably SQL and Mysql,Extract, Transform,
    Load various data types and sources,Design and test Database plans,Secure Database,Optimize database performance, </p>
  </div>
  <div class="col-sm-4">
   <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
   <h3>Senior Mis Executive</h3>
   <p class="ss-color">Advance excel,Dashboard, Power Pivot, Ms Office, Google sheet, MS Access , Sql etc </p>
  </div>
 </div>
</div>
{% endblock content %}