{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container text-white mt-5">
  <div class="hero-unit">
        <h1>COVID-19 VACCINATION WORLD WIDE REPORT</h1>
        <p>"I have worked on many important projects throughout my career. What's really crucial for me when starting one is to get very clear on the
            goals right at the start and then create a plan with milestones. I also like dealing with the most difficult parts of the projects early
            on—that way in case there are any significant issues, I'll still have a nice amount of time to complete before
            the deadline. I also typically break down large tasks into smaller chunks, so that it is easier to know where to start.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row ml-5">
        <div class="span4">
          <h2>Project Title :</h2>
          <p style="font-size:25px;" class="text-warning pl-5"> Covid-19 Vaccination Report and Dashboard</p>
        </div>
        <div class="span4">
          <h2>Project Scope Statement:</h2>
          <p style="font-size:25px;" class="text-warning pl-5"> Basically this is my 3rd project own covid-19 and in this Project I want to show total vaccination report of corona at world level
              related to population of individual country and also mention how many people are fully vaaccinated </p>
       </div>
        <div class="span4">
          <h2> Tools:</h2>
          <p style="font-size:25px;" class="text-warning pl-5"> In this project advance excel(vlookup,shorting,countif,sumif,hlookup,power pivot)
              and Tableau ( To visualize and make dashboard) is used</p>
        </div>
          <div class="span4">
          <h2> Data :</h2>
          <p style="font-size:25px;" class="text-warning pl-5"> Downloaded from Kaggle (https://www.kaggle.com/datasets?search=covid+vaccination)</p>
        </div>
          <div class="span4">
          <h2> Snapshort of Project:</h2>
              <img  src="{% static 'core/images/pro1img/va1.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pl-2" src="{% static 'core/images/pro1img/covidVaimg1.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pl-2" src="{% static 'core/images/pro1img/va2.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro1img/va3.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro1img/va4.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro1img/va5.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro1img/va6.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro1img/va7.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro1img/va8.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro1img/va9.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro1img/va10.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro1img/va11.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro1img/va12.png' %}" alt="ProfilePic"  width="250px" height="150px">

        </div>
      </div>

</div>
{% endblock content %}