{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container text-white mt-5">
  <div class="hero-unit">
        <h1>COVID-19 Death WORLD WIDE REPORT</h1>
        <p>"I have worked on many important projects throughout my career. What's really crucial for me when starting one is to get very clear on the
            goals right at the start and then create a plan with milestones. I also like dealing with the most difficult parts of the projects early
            on—that way in case there are any significant issues, I'll still have a nice amount of time to complete before
            the deadline. I also typically break down large tasks into smaller chunks, so that it is easier to know where to start.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row ml-5">
        <div class="span4">
          <h2>Project Title :</h2>
          <p style="font-size:25px;" class="text-warning pl-5"> Covid-19 Death Report and Dashboard</p>
        </div>
        <div class="span4">
          <h2>Project Scope Statement:</h2>
          <p style="font-size:25px;" class="text-warning pl-5">  This is my 2rd project on covid-19 and in this Project I want to show total Number of Death
              of People due to corona at world level and country level.Related to population of individual country and also mention how many people
              are fully recovered.Confirmed cases are also mentioned.</p>
       </div>
        <div class="span4">
          <h2> Tools:</h2>
          <p style="font-size:25px;" class="text-warning pl-5"> In this project advance excel(vlookup,shorting,countif,sumif,hlookup,power pivot)
              and Tableau ( To visualize and make dashboard) is used</p>
        </div>
          <div class="span4">
          <h2> Data :</h2>
          <p style="font-size:25px;" class="text-warning pl-5"> Downloaded from Kaggle (https://www.kaggle.com/datasets?search=covid+death+)</p>
        </div>
          <div class="span4">
          <h2> Snapshort of Project:</h2>
              <img  src="{% static 'core/images/pro2img/cd.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pl-2" src="{% static 'core/images/pro2img/cd1.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pl-2" src="{% static 'core/images/pro2img/cd2.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro2img/cd3.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd4.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd5.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro2img/cd6.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd7.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd8.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro2img/cd9.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd10.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd11.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro2img/cd12.png' %}" alt="ProfilePic"  width="250px" height="150px">
               <img class="img pt-2" src="{% static 'core/images/pro2img/cd13.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd14.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd15.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro2img/cd16.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd17.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2 pl-2" src="{% static 'core/images/pro2img/cd18.png' %}" alt="ProfilePic"  width="250px" height="150px">
              <img class="img pt-2" src="{% static 'core/images/pro2img/cd19.png' %}" alt="ProfilePic"  width="250px" height="150px">

        </div>
      </div>

</div>
{% endblock content %}